.modalBlock1{
    display:flex;
    gap:20px;
}

.modalTitle {
    display:flex;
    width:100px;
    align-items:center;
    justify-content:center;
    border:1px solid black;
    
}

.ButtonsBot{
    display:flex;
    justify-content:flex-end;
    padding:10px;
}


h3 {
    text-align:center;
}