.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: minmax(52px, auto);   */
}
.one {
  grid-column: 7 / 1;
  grid-row: 1;
  z-index: 1;
}
.two {
  grid-column: 7 / 1;
  grid-row: 2;
  z-index: 0;
}

.three {
  grid-column: 7 / 1;
  grid-row: 3;
  height: 100vh; /* to test scroll and stick panel*/
}
